.player-card{
  background-color:white;
  border: solid 1px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}
.icon-col{
  margin-top:auto;
  margin-bottom:auto;
  text-align: right;
}

.player-card:hover{
  box-shadow: 0 1px 0px;
}

.player-card:hover .close{
 display:inline;
}

.close{
  display:none;
}

.close-col{
  margin-top:auto;
  margin-bottom:auto;
  text-align: right;
}

