.player-card{
  background-color:white;
  border: solid 1px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}
.icon-col{
  position:absolute;
  margin-top:auto;
  margin-bottom:auto;
  text-align: right;
  height:100%;
}

.icon-div{
  position:absolute;
  border:solid 2px;
  border-radius:50%;
  padding:10px;
  top:0px;
}

.player-card:hover{
  box-shadow: 0 1px 0px;
}

.player-card:hover .monster-icon{
  content: url("assets/SadOrc.png");
}

.player-card:hover .player-icon{
  content: url("assets/SadPlayer.png");
}

.player-card:hover .close{
 display:inline;
}

.close{
  display:none;
}

.close-col{
  margin-top:auto;
  margin-bottom:auto;
  text-align: right;
}

