.player-card {
  border: solid 2px;
  border-radius: .5rem;
  padding: 1rem;
  margin: 0.5rem;
}

.icon-col {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  height: 100%;
}

.icon-div {
  position: absolute;
  border: solid 2px;
  border-radius: .5rem;
  padding: 10px;
  top: 4px;
  background-color: white;
}

.player-card:hover {

  .monster-icon {
    content: url("assets/SadOrc.png");
  }
  .player-icon {
    content: url("assets/SadPlayer.png");
  }
}

.player-card:hover .close {
  display: inline;
}

.close {
  display: none;
}

.close-col {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.init-input{
  width:4rem;
  text-align: center;
}

.current{
  border-color: red;
}
